{% extends 'Admin/baseAdmin.html.twig' %}

{% block title %}Edit Requete{% endblock %}

{% block body %}
<div class="app-wrapper">
	    
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <h1>Changer D'etat</h1>
            <form class="auth-form auth-signup-form" method="post">  
                {{ form_start(form) }}       
                <div class="name mb-3">
                    <label class="h4" for="running">Running</label>
                    <input id="running" value="running" name="etat" type="radio" required="required">
                </div>
                <div class="email mb-3">
                    <label class="h4" for="end">End</label>
                    <input id="running" value="end" name="etat" type="radio" required="required">
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Valider</button>
                </div>
                {{ form_end(form) }}
            </form><!--//auth-form-->

            <a href="{{ path('admin-requete-index') }}" class="btn btn-secondary">back to list</a>

            {{ include('Admin/requete/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
